body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

header {
  background: #2563eb;
  padding: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.container {
  padding: 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  background: #22c55e;
  color: white;
  padding: 12px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
}

.card {
  background: #1e293b;
  margin: 15px 0;
  padding: 15px;
  border-radius: 10px;
}
